.container {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .background {
      position: static;
      img {
        width: 100%;
        border-radius: 0 0 2rem 2rem;
      }
    }

    header {
      position: fixed;
      opacity: 0.8;

      width: 100%;
      height: 4.2rem;
      background-color: #242031;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin-left: 2rem;
        color: var(--gray4);
      }

      img {
        margin-right: 2rem;
      }
    }
    .texts {
      text-align: start;
      h2 {
        margin-top: 8rem;
        position: relative;
      }
    }
  }
}

@media (max-width:700px){
  .texts{
    h2{
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
  }
}
