.link{
  text-align: center;
  h1{
    margin-top: 12rem;
    margin-bottom:7rem;
  }
  .buttons{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
      width: 16rem;
      height: 5rem;
      border: none;
      border-radius:0.8rem;
      margin-bottom:5rem;
    }
  }
}

@media (max-width:700px){
.link{
  .buttons{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;

    button{
    margin-bottom: 2rem;
    }
  }
}
}
