.link {
  text-align: center;
  h1 {
    margin-top: 12rem;
    margin-bottom: 7rem;
    font-size: 4rem;
  }
  .buttons {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 16rem;
      height: 5rem;
      border: none;
      border-radius: 0.5rem;
      margin-bottom: 5rem;
      background-color: var(--purple);
    }
    button:hover{
      opacity: 0.8;
    }
  }
}

@media (max-width: 700px) {
  .link {
    .buttons {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .margin{
        padding: 1.5rem;
      }

      button {
        width: 6rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
      }

      img{
        width: 4rem;
      }
    }
  }
}

@media (min-width: 900px) {
  .link {
    .buttons {
      width: 70vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 16rem;
        height: 5rem;
        border: none;
        border-radius: 0.5rem;
      }
    }
  }
}
