.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    position: fixed;
    opacity: 0.8;

    width: 100%;
    height: 4.2rem;
    background-color: #242031;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-left: 2rem;
      color: var(--gray4);
    }

  }
  .icons{
    img {
      margin-right: 2rem;
      cursor: pointer;
    }
    img:hover,
    img:focus{
      filter: invert(5%)
      sepia(1%)
      hue-rotate(346deg)
      brightness(500%)
      contrast(80%);
    }
  }
}
