.container {
  width: 28rem;
  height: 12rem;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1.8rem;
  transition: transform 0.5s ease;
  &:hover {
    transform: translateY(-8px) translateX(-8px);
  }
  background: linear-gradient(180deg, #282032 0%, #0b0228 100%);
  .repo {
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    .repoTexts {
      display: grid;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      margin-top: 1rem;
      margin-left: 1.5rem;
      h1 {
        font-size: 2.5rem;
        color: #7159c1;
      }
      h2 {
        font-size: 1rem;
        color: #7159c1;
      }
    }
  }
}
